.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  text-align: center;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}
.loginLogo {
  font-size: 3rem;
  color: #4f46e5;
}
.loginDesc {
  font-size: 1.5rem;
}
.loginBox {
  box-shadow: 5px 5px 5px rgb(182 181 181 / 20%),
    inset 5px 5px 5px rgb(216 240 255 / 51%);
  /* height: 350px; */
  padding: 5% 8%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label {
  margin-top: 0.5rem;
  margin-bottom: 3px;
}
.loginInput {
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
}
button {
  padding: 10px;
  font-weight: bold;
  background-color: #4f46e5;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 0.5rem;
}
.loginButton {
  margin-top: 2rem;
}
.forgotPass {
  text-align: center;
}
.or {
  text-align: center;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

/* for responsive design */
@media screen and (min-width: 430px) {
  .loginForm {
    width: 40%;
  }
}
